<a href="https://colab.research.google.com/github/SanjanaTikare117/Basic-Python2/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L2=list([10,20,30])

In [ ]:
#create a string of multiple data types
L1=list(["APPLE","BANANA","GRAPES"])

In [ ]:
L2

[10, 20, 30]

In [ ]:
L1

['APPLE', 'BANANA', 'GRAPES']

In [ ]:
#create a list of multiple data type using for loop
L1=list(["apple","banana","grapes","mango"])
for  i in L1:
  print(i)

apple
banana
grapes
mango

In [ ]:
L1=(["apple",10,19.8])
for i in range(-3,0):
  print(L1[i])

apple
10
19.8

In [ ]:
L1=(["Apple",10,19.8])
for i in range(-1,-4,-1):
 print(L1[i])

19.8
10
Apple

In [ ]:
l=([1,2,3,4,5,6,7,8,9,10])
c=l[0:4]
c

[1, 2, 3, 4]

In [ ]:
l=list(range(0,21))
for i in l:
  if(l[i]%2==0):
    print(l[i], end=" ")
  c=l[0:21:2]
  print('\n',c)

In [ ]:
l=list(range(0,21))
for i in l:
  if(l[i]%5==0):
    print(l[i], end=" ")
  c=l[0:21:5]
  print('/n',c)

0 /n [0, 5, 10, 15, 20]
/n [0, 5, 10, 15, 20]
/n [0, 5, 10, 15, 20]
/n [0, 5, 10, 15, 20]
/n [0, 5, 10, 15, 20]
5 /n [0, 5, 10, 15, 20]
/n [0, 5, 10, 15, 20]
/n [0, 5, 10, 15, 20]
/n [0, 5, 10, 15, 20]
/n [0, 5, 10, 15, 20]
10 /n [0, 5, 10, 15, 20]
/n [0, 5, 10, 15, 20]
/n [0, 5, 10, 15, 20]
/n [0, 5, 10, 15, 20]
/n [0, 5, 10, 15, 20]
15 /n [0, 5, 10, 15, 20]
/n [0, 5, 10, 15, 20]
/n [0, 5, 10, 15, 20]
/n [0, 5, 10, 15, 20]
/n [0, 5, 10, 15, 20]
20 /n [0, 5, 10, 15, 20]

In [ ]:
l=list(range(0,21))
c=l[::3]
rev=c[::-1]
print('\n',c)
print('\n',rev)

 [0, 3, 6, 9, 12, 15, 18]

 [18, 15, 12, 9, 6, 3, 0]

In [ ]:
l=list(range(0,21))
c=l[::2]
rev=c[::+1]
print('\n',c)
print('\n',rev)

 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
l=list(range(0,21))
x=l[0:20:2]
print(x)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
l=list(range(0,21))
x=l[0:20:2]
print(x)
rev=x[::-1]
print(rev)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [ ]:
l=list(range(0,101))
x=l[0:100:5]
print(x)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
l=list(range(0,21))
x=l[::+1]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
l=(100,29,35,36,47,58)
print(len(l))
print(max(l))
print(min(l))
print(sum(l))

print(l)

6
100
29
305
(100, 29, 35, 36, 47, 58)

In [ ]:
l=list(range(0,101))
x=l[2:100:2]
y=l[0:100:1]
z=l[0:100:7]
a=l[0:100:6]
print("minumum of even number ",min(x))
print("maximum of odd number",max(y))
print("sum of multiples of 7 from 0-100",sum(z))
print("len of multiples of 6 is",len(a))

minumum of even number  2
maximum of odd number 99
sum of multiples of 7 from 0-100 735
len of multiples of 6 is 17

In [ ]:
l1=([1,2,3,4,5,6])
Ieven=[i for i in l1 if i%2==0]
print(Ieven)

[2, 4, 6]

In [ ]:
b=[i** for range(11)]
print(b)

SyntaxError: ignored

In [ ]:
#create a list to genrate cubes of number from 1 to 10
a=list(range(0,10))
print(a)
a=[x for i in range(11)]
print (a)